<div align="center">
<h1> Welcome home <%= @trainer.username %></h1>
<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "400"
class="center"><br>
<div>


<h2>Pokemon in Pokedex</h2>
<h3>Captured Pokemon</h3>
<%PokemonTrainer.all.each do |pokemon_trainer|%>
  <%if pokemon_trainer.trainer_id == current_user.id%>
    <%pokemon = Pokemon.find_by_id(pokemon_trainer.pokemon_id)%>
    <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
    <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
    <input type="submit" value="Release me" style="background-color:red" align="center">
  <%else%>
  <%end%>
<%end%> 

<h3>
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%if PokemonTrainer.find_by(trainer_id: current_user.id, pokemon_id: pokemon.id)%>
          <form action="/pokemon/new" method="POST">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
          
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="submit" value="Release me" style="background-color:red">
  
          </form> 
        <%else%>
          <form action="/pokemon/new" method="POST">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="submit" value="Capture me">
          </form>
        <%end%>
    <%end%>
  </ul>
</h3>

<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form> <br>
<form action="/delete/<%= @trainer.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete user">
</form>


