<div align="center">
<h1> Welcome home <%= @trainer.username.capitalize %></h1>
<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "400"
class="center"><br>
<div>

<%# shows the current trainers currently captured pokemon %>
<h2>POKEMON IN POKEDEX</h2>
<p><h5>This Pokedex provided by Professor Oak for the use soley by <%= @trainer.username.capitalize %></h5></p>
<h3>This is the Pokedex, you can browse, capture and relase any of the original 151 Pokemon</h3>
<h2>CAPTURED POKEMON</h2>
<br>
<h4>Here you can see a quick list of your currently captured Pokemon</h4><br>
<%PokemonTrainer.all.each do |pokemon_trainer|%>
  <%if pokemon_trainer.trainer_id == current_user.id%>
    <%pokemon = Pokemon.find_by_id(pokemon_trainer.pokemon_id)%>
    <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
    
    <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
    <input type="submit" value="Release me" style="background-color:red" align="center">
  <%else%>
  <%end%>
<%end%> 
</form>
<br>
<a href="/show">Browse All Captured Pokemon</a>


<%# Shows all the orig. 151 pokemon %>
<h3>
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%if @pokemon_trainer = PokemonTrainer.find_by(trainer_id: current_user.id, pokemon_id: pokemon.id)%>
          <form action="/pokemon_trainers/<%= @pokemon_trainer.id%> " method="POST">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
          
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Release me" style="background-color:red">
          </form> 
        <%else%>


        <form action="/pokemon/new" method="POST">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="submit" value="Capture me">
          </form>
        <%end%>
    <%end%>
  </ul>
</h3>

<a href="/trainers/<%= @trainer.id %>/edit">edit trainer info</a>
<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form> <br>
<form action="/delete/<%= @trainer.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete user">
</form>


